<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-gamepad"></i> Games
			<a href="games/add" class="btn btn-success pull-right">
				Add new <i class="fa fa-plus-circle"></i>
			</a>
		</h1>
	</div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<div class="alert alert-success server-message" ng-show="successMessage.length > 0">
	<i class="fa fa-check-circle-o fa-lg"></i> {{ successMessage }}
</div>

<div class="row">
	<div class="col-lg-12">
		<!-- Search Form -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><i class="fa fa-search"></i> Search</h4>
			</div>
			<div class="panel-body">
				<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
				<form class="form-horizontal" name="form" ng-submit="submitForm()" novalidate>

					<!-- GAME ID
					================================================================================ -->

					<div class="form-group">
						<label class="control-label col-xs-2" for="input-game-id">Game ID :</label>

						<div class="col-md-6">
							<input type="text" name="gameId" class="form-control" id="input-game-id" ng-model="searchParameters.gameId"
								   validator="[number]">
						</div>
					</div>



					<!-- GAME TITLE
					================================================================================ -->

					<div class="form-group">
						<label class="control-label col-md-2" for="input-game-title">Title :</label>

						<div class="col-md-6">
							<input type="text" name="gameTitle" class="form-control" id="input-game-title" ng-model="searchParameters.gameTitle"
								   validator="[notHaveSpecialChars]">
						</div>
					</div>


					<!-- CREATED DATE
					================================================================================ -->

					<div class="form-group">
						<label class="control-label col-xs-2">Created Date :</label>

						<div class="col-xs-3">
							<div class="input-group date jq-date-picker">
								<input type="text" class="form-control" placeholder="From" ng-model="searchParameters.dateCreatedFrom"
									   validator="[dateBefore]"
									   validator-date-before="{{ searchParameters.dateCreatedTo }}">
								<span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>

						<div class="col-xs-3">
							<div class="input-group date jq-date-picker">
								<input type="text" class="form-control" placeholder="To" ng-model="searchParameters.dateCreatedTo"
									   validator="[dateAfter]"
									   validator-date-after="{{ searchParameters.dateCreatedFrom }}">
								<span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>
					</div>


					<!-- GAME TYPES
					================================================================================ -->

					<div class="form-group">
						<label class="control-label col-md-2">Games Type :</label>

						<div class="col-md-9">
							<div class="form-inline">
								<label class="radio inline">
									<input type="radio" name="gamesType" value="2" ng-model="searchParameters.isPremium" />
									All
								</label>
								<label class="radio inline">
									<input type="radio" name="gamesType" value="0" ng-model="searchParameters.isPremium" />
									Normal
								</label>
								<label class="radio inline">
									<input type="radio" name="gamesType" value="1" ng-model="searchParameters.isPremium" />
									Premium
								</label>
							</div>
						</div>
					</div>


					<!-- BUTTONS
					================================================================================ -->

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<!-- SUBMIT BUTTON -->
							<button type="submit" class="btn btn-success">
								Search <i class="fa fa-search fa-fw"></i>
							</button>

							<div class="alert alert-danger server-message" ng-show="errorMessage.length > 0">
								<i class="fa fa-times-circle"></i> {{ errorMessage }}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div><!-- /.panel -->
	</div><!-- /.col-lg-12 -->

	<!-- Game List -->
	<div class="col-lg-12">
		<dn-table settings="gamesDataTable"></dn-table>
	</div><!-- /.col-lg-12 -->
</div><!-- /.row -->


