.crossword {
    border-collapse:collapse;
    font-family:"Courier New", Courier, monospace;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    margin-top:10px;
    margin-bottom:10px;
}

.crossword td {
    border:1px solid #ddd;
    padding:0;
    margin:0;
    vertical-align:middle;
    padding:0;
    text-align:center;
    width:30px;
    height:30px;
}

.crossword .no-border {
    background: #000;
}