<div class="alert alert-warning alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>

	<b>Please provide words and suggestions for this game : </b><br>
	- Input words and suggestions in below form. <br>
	- Or you can upload a csv file contain words and suggestions.<br><br>

	<i class="fa fa-exclamation-triangle fa-lg text-danger"></i> <strong class="text-danger">Attention : </strong><br>
	- Required at least <strong class="text-danger">2 words and suggestions</strong> to the crossword for this game. <br>
	- <strong class="text-danger">Click on </strong><label class="label label-info">Make Crossword</label> button to create the Crossword <strong class="text-danger">before Submit</strong> the form.
</div>