<div class="alert alert-info server-message">
	<i class="fa fa-exclamation-circle text-danger"></i> <strong class="text-danger">Attention :</strong> Set user to <strong class="text-danger">win a reward</strong> is <strong class="text-danger">an action that cannot be undone.</strong><br>
	Please make sure you don't make mistake before doing this.<br><br>

	<strong>This also include these actions to inform that user has won a reward :</strong><br>
	- <strong class="text-danger">Send a mail message</strong> to user email address.<br>
	- <strong class="text-danger">Send a push notification</strong> for user device.
</div>